<h1>Contact us
</h1>

  
      Please contact us if you have questions or comments.</h5><a href="mailto:admin@somedomain.org">Webmaster </a> 
      <br>
      <br>
      <%=link_to image_tag("KEMI.jpg" ,:border => 0,:width => 400, :height => 400)%>
            <br>
            <br>
            <br>
            <br>

           <%=link_to image_tag("sysbio.jpeg" ,:border => 0,:width => 100, :height => 100)%>
 <a href="http://www.sysbio.se">Sys<sup>2</sup>Bio</a>: Systems and Synthetic Biology Lab, Chalmers
            <br>

            <br>

    <p>
  SYSTEMS AND SYNTHETIC BIOLOGY GROUP <br>
  Department of Chemical and Biological Engineering  <br>
 Chalmers University of Technology <br>
 Kemigården 4, Forskarhus I (Research building I),  <br>6th floor
 SE-412 96 Göteborg Sweden
</p>