

<div class="center hero-unit">
  <h9>Metabolism in response to malnutrition</h9>
  <br>
    <br>

  <%=link_to image_tag("mom.jpg") %>
    <%=link_to image_tag("sysbio.jpeg")  %>
    <%=link_to image_tag("icon_small_bill_melinda_gates_foundation_logo.png") %>

</a>Photo credit: <a href="https://www.flickr.com/photos/hdptcar/2530902082/">hdptcar</a> / <a href="http://foter.com/">Foter</a> / <a href="http://creativecommons.org/licenses/by/2.0/">Creative Commons Attribution 2.0 Generic (CC BY 2.0)</a>




</div>




