

<div class="span12 hero-unit">
  <h9>Metabolism in response to malnutrition</h9>
  <br>
    <br>

 	<table>
 	<tr>
 	    <td width=50% , height="100"% > <%=link_to image_tag("mom.jpg" ,:height=>300,:width=>400) %> </td>

 	 	<td width=50% ,height=100>News:<br>1.The website is on</td>
 	 	</tr>

 	</table>
 	 	        <h4></a>Photo credit: <a href="https://www.flickr.com/photos/hdptcar/2530902082/">hdptcar</a> / <a href="http://foter.com/">Foter</a> / <a href="http://creativecommons.org/licenses/by/2.0/">Creative Commons Attribution 2.0 Generic (CC BY 2.0)</a></h4>

    <%=link_to image_tag("sysbio.jpeg",:width=>150,:width=>150 ,:class =>"pull-down")  %>
    <%=link_to image_tag("icon_small_bill_melinda_gates_foundation_logo.png",:width=>150,:height=>150) %>




</div>




